@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
}

@media print {
  header, footer, .no-print { display: none !important; }
  body { background: white !important; }
  .bg-white { box-shadow: none !important; border: 1px solid #e5e7eb !important; }
}
